.social {
    display: flex;
    align-items: center; 
}

.social__link {
    margin-left: 5px;
}

.social__text {
    color: $black;
    font-size: 0.8rem;
    font-weight: 600;
}

.social__icon {
    display: block;
    width: 30px;
    height: 30px;
}