
<footer class="footer">
    <div class="container">
        <div class="social">
            <div class="social__text">Мои соц. сети</div> 

            <a href="" class="social__link">
               <img class="social__icon" src="assets/img/vk.svg" alt="">
            </a>
            <a href="" class="social__link">
                <img class="social__icon" src="assets/img/ig.svg" alt="">
             </a>
             <a href="" class="social__link">
                <img class="social__icon" src="assets/img/fb.svg" alt="">
             </a>
        </div>
    </div>
</footer>